* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {

}

.open-sans {
   font-family: 'Open Sans', sans-serif;
}

.montserrat {
   font-family: 'Montserrat', sans-serif;
}

.centered {
   max-width: 1720px;
   margin: 0 auto;
   height: 100%;
   padding: 0 15px;
}
