* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   p {
     line-height: 20px;
 }
}

button:focus,
select:focus,
input:focus {
   outline: 0;
}

button,
input,
select {
   border: none;
}

a {
   text-decoration: none;
   color: inherit;
}

// containers for layout - two types
.centered-big {
   max-width: 1720px;
   margin: 0 auto;
   height: 100%;
   padding: 0 $container-space;
}
.centered-small {
   max-width: 1200px;
   width: 70%;
   margin: 0 auto;
   height: 100%;
}
// section padding
section {
   padding: 50px 0;
}

// mixins

// flex-wrap container
@mixin flex-wrap {
   display: flex;
   flex-wrap: wrap;
}
@mixin setPointer {
   cursor: pointer;
}

// hover
@mixin changeColorHover($color) {
   &:hover {
      color: $color;
      @include setPointer;
   }
}


// flex-classes
.flex {
   display: flex;
}
.flex-wrap {
   @include flex-wrap;
}


// input bar
.input-icon-wrap {
   display: flex;
}
.input-icon {
  background: $blue;
  padding: 10px 15px;
  color: white;
}
.input-with-icon {
  border: none;
  flex: 1;
  padding: 10px;
}


// button blue set up
.btn-blue {
   font-size: 14px;
   font-weight: $fontWeightL;
   color: white;
   letter-spacing: 1px;
   background-color: $blue;
   &:hover {
      background-color: #4ED7A8;
      @include setPointer;
   }
}
// btn rounded layout
.btn-rounded {
   border-radius: 50px;
   padding: 18px 20px;
}

// box with section title and paragraph
.title-box {
   text-align: center;
   width: 40%;
   margin: 0 auto;
   h2 {
      font-size: 50px;
   }
   p {
      font-size: 18px;
   }
   h2, p {
      font-weight: 300;
      padding-bottom: $borderL;
   }
}

// make list inline
.clearList {
   list-style-type: none;
   li {
      display: inline-block;
   }
}


// courses cards layout
.course-card__container {
   @include flex-wrap;
   justify-content: space-between;
   // to fill space on last line
   .placeholder {
     visibility: hidden;
     height: 0;
     padding: 0;
     margin: 0;
     border-top-width: 0;
     border-bottom-width: 0;
   }
}

// card layout
.course-card {
   width: calc(100% / 6 - 10px);
   margin-bottom: 50px;
   min-width: 220px;
   display: flex;
   flex-direction: column;
   border: 1px solid #E4E8ED;
   background-color: white;
   transition: transform .4s;
   &:hover {
     transform: scale(1.3);
     transform-origin: 50% 50%;
     z-index: 20;
     border: 1px solid orange;
   }
   // img
   .course-card__img {
      position: relative;
      img {
         width: 100%;
      }
      .release {
         color: white;
         border-radius: 5px;
         position: absolute;
         top: 10px;
         right: 20px;
         padding: 3px 5px;
         z-index: 20;
      }
      .hot {
         background-color: red;
      }
      .special {
         background-color: orange;
      }
      .new {
         background-color: green;
      }
   }
   // text
   .course-card__info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .course-type {
         color: #B3B3B3;
         font-size: 13px;
         margin-bottom: $borderXS;
         &:after {
            content: ">";
         }
      }
      .course-title,
      .course-price {
         font-size: 15px;
         font-weight: $fontWeightM;
      }

      .course-card__top {
         margin-bottom: $borderXS;
      }
      .course-card__bottom {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-top: 1px solid #E4E8ED;
         padding-top: $borderL;
         position: relative;
         .course-discount {
            position: absolute;
            right: 0;
            top: 10px;
            color: #B3B3B3;
            font-size: 12px;
            text-decoration: line-through;
         }
      }
   }
}

// class for business and reviews
.box {
   h3, p {
      padding-bottom: $borderM;
   }
   h3 {
      font-size: 36px;
      font-weight: $fontWeightS;
   }
   h2 {
      font-size: 18px;
      font-weight: $fontWeightL;
   }
   p {
      font-size: 18px;
      font-weight: $fontWeightXS;
      line-height: 32px;
      opacity: 0.7;
   }
}
