header {
   .header-top {
      height: 50px;

      &:after {
         background-color: #E4E8ED;;
          content: "";
          display: block;
          height: 1px;

      }
   }

   .header-bottom {
      height: 70px;
   }
   &:after {
      background-color: #E4E8ED;;
       content: "";
       display: block;
       height: 1px;

   }
}




#investing {
   position: relative;
   .jumbotron-text {
      padding-top: 100px;
   }
   img {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      z-index: -100;
   }
}

main {
   .jumbotron {
      height: 600px;
      display: flex;
      align-items: center;
      .jumbotron-text {
         width: 60%;
         h1 {
            font-size: 64px;
            font-weight: 300;
            color: #273044;
            line-height: 64px;
            margin-bottom: 40px;

         }
         h3 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 40px;
         }
      }
   }
}

#online-course {
   background-image: url("../dist/images/online-course.png");
   background-repeat: no-repeat;
   background-position: top left;
   h1 {
      font-size: 50px;
   }
}
