// column width for blue cards section and gallery
.col-2 {
   width: calc(100% / 3 * 2 - 10px);
}
.col-1 {
   width: calc(100% / 3 - 20px);
}

// section with three blue cards in columns
#blue-card-container {
   @include flex-wrap;
   justify-content: space-between;
   .blue-card {
      // width: 32%;
      background-color: $cardColor;
      padding: $borderL;
      transition: transform 1s;
      i, h4{
         margin-bottom: $borderL;
      }
      i {
         color: $blue;
      }
      h4 {
         font-size: 16px;
         font-weight: 500;
      }
      p {
         opacity: 0.5;
      }
      &:hover {
         transform: translateY(-30px);
         p {
            opacity: 1;
         }
      }
   }
}

// section course callery - grid images
#course-gallery {
   .row-gallery {
      padding-bottom: $borderL;
      display: flex;
      justify-content: space-between;
      .col-1 {
         display: flex;
         flex-direction: column;
         &.col-special {
            justify-content: space-between;
         }
      }
   }
   .gallery-item {
      img {
         width: 100%;
         margin-bottom: $borderXS;
         transition: all 0.3s;
      }
      .img-container {
         overflow: hidden;
      }
      .item-info {
         display: flex;
         justify-content: space-between;
         h4 {
            font-size: 16px;
            font-weight: 500;
         }
      }
      &:hover {
         img {
            transform: scale(1.1);
         }
         h4 {
            color: $blue;
         }
      }
   }
}

// section with grid of recent courses
#courses-nav-bar {
   text-align: center;
   padding-bottom: 50px;
   li {
      color: $blue;
      margin: 0 20px;
   }
   .active {
      background-color: #F0F4FA;
      color: #777777;
      border-radius: 50px;
      padding: 10px 20px;
   }
}

// container for show all
#btn-container {
   text-align: center;
   padding-bottom: 50px;
}

// section with munber info for courses, students etc.
#numbers {
   background-color: $cardColor;
   height: 800px;
   background-image: url("../dist/images/we_proud.png");
   background-position: bottom;
   background-size: contain;
   background-repeat: no-repeat;
   text-align: center;
   .title-box {
      padding: 50px 0;
   }
   #numbers-info {
      li {
         width: calc(24% - 1px);
         padding: 20px 0;
         height: max-content;
         .nmb {
            font-size: 70px;
            font-weight: $fontWeightXS;
         }
         .sub-nmb {
            font-size: 20px;
            font-weight: $fontWeightXS;
         }
         &:not(:last-child) {
            border-right: 1px solid #E4E8ED;;
         }
      }
   }
}

// subscribe section
#subscribe {
   background-color: #4ED7A8;
   padding: 50px 0;
   .centered-small {
      color: white;
      display: flex;
      .col-left {
         width: 60%;
         padding-right: 10px;
         h2 {
            margin-bottom: 20px;
         }
      }
      .col-right {
         width: 40%;
         h4 {
            margin-bottom: 20px;
         }
         #input-container {
            height: 40px;
            .btn-blue {
               padding: 0 15px;
            }
            input {
               width: 100%;
               padding: 5px;
            }
         }
      }
   }
}

// section with grid as recent courses
#popular-courses {
   background-color: $cardColor;
   .title-box {
      padding-top: 50px;
      padding-bottom: 40px;
   }
   .arrow-container {
      text-align: center;
      .arrow {
         padding: 15px 20px;
         border-top: 1px solid #E4E8ED;
         background-color: white;
         color: #E4E8ED;
         &:hover {
            background-color: #457992;
            color: white;
            cursor: pointer;
         }
      }
   }
}

// two cards - business info
#business {
   padding: 50px 50px;
   display: flex;
   justify-content: space-between;
   .business-card {
      width: 49%;
      border: 1px solid #E4E8ED;
      padding: 40px 60px 40px 40px;
      display: flex;
      img {
         padding-right: 30px;
         align-self: center;
      }
      .business-card__right {
         display: flex;
         margin: auto;
         flex-direction: column;
         align-items: flex-start;
      }
   }
}

// reviews sith background img
#reviews {
   height: 600px;
   background-image: url("../dist/images/brooke-cagle-224821-unsplash-1-1920x700.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   .flex-container {
      display: flex;
      align-items: center;
      height: 100%;
   }
   .review-info {
      padding: 80px 90px;
      background-color: white;
      width: 65%;
      min-width: 700px;
      height: 80%;
      position: relative;
      .triangle-right {
         position: absolute;
         right: -15px;
         top: 50%;
         transform: translateY(-50%);
         width: 0;
         height: 0;
         border-top: 10px solid transparent;
         border-left: 15px solid white;
         border-bottom: 10px solid transparent;
    }
   }
}
