
// colors
$lightGray: #E4E8ED;
$darkGray: #aaa;
$blue: #195EC8;
$cardColor: #F2F6FB;
$fontGray: #A6ACB7;

// borders
$borderL: 30px;
$borderM: 20px;
$borderS: 15px;
$borderXS: 10px;

$container-space: 15px;


// font-weights
$fontWeightL: 600;
$fontWeightM: 500;
$fontWeightS: 400;
$fontWeightXS: 300;
